<head>
  <link rel="stylesheet" href="app/assets/stylesheets/quiz_form.css">
</head>
<div class="max-w-2xl mx-auto">
  <h1 class="text-3xl font-bold mb-4 text-center uppercase"><%= @questions.first.quiz.upcase %> QUIZ</h1>
  
  <div class="quiz-container">
    <%= form_with url: characters_path, method: :post do |form|%>
      <% count = 1 %>
      <%@questions.each do |question| %>
        <div class="bg-white rounded-lg shadow-lg px-6 py-4 mb-6">
          <h2 class="text-lg font-bold mb-2"><%= "#{count.to_s}. #{question.name}" %> </h2>
          
          <% answer_count = 0 %>
          <% question.answers.each do |answer| %>
            <p class="mb-1"><%= form.label answer.letter, "#{answer.letter}) #{answer.text}" %> </p>
            <p class="mb-3"><%= form.radio_button "#{question.id.to_s}#{question.spectrum}", answer_count.to_s, name: "answers['#{question.id.to_s}#{question.spectrum}']"%></p>
            <% answer_count += 1 %>
          <% end %>
        </div>
        <% count += 1  %>
      <% end %>
        <% count -= 1  %>

      <%= form.hidden_field :question_count, value: count %>
      <%= form.hidden_field :quiz_id, value: params[:id] %>
      
      <div class="text-center">
        <%= form.submit "Get your results", class: "px-6 py-2 bg-green-500 text-white rounded-lg shadow-md" %> 
      </div>
      
    <% end %>
  </div>
</div>