<h1> You are <%= @character.name %> </h1>
<h2> Your alignment type is <%=@character.alignment%> </h2>

<%=image_tag @character.image_url%>

<%= form_with url: playlists_path, method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :query, "Enter a genre of music to generate your playlist!" %>
  <%= form.text_field :query %>
  <%= form.hidden_field :character_name, value: @character.name %>
  <%= form.hidden_field :alignment, value: @character.alignment %>
  <%= form.hidden_field :theme_id, value: @character.theme_id %>
  <%= form.hidden_field :character_id_id, value: @character.character_id %>
  <%= form.submit "Create Playlist" %>
<% end %>