<head>
  <link rel="stylesheet" href="app/assets/stylesheets/playlist_show.css">
</head>
<div class="custom-gradient">
  <div class="container mx-auto">
    <% if @playlist.songs.size == 10 %>
    <h1 class="text-3xl text-center font-bold mb-4 pop-text">
      Your <%= @playlist.character %> + <%= @playlist.genre %>, AI generated playlist
    </h1>
      <div class="playlist-container">
        <div class="form-container">
          <ol class="list-decimal list-inside">
            <% @playlist.songs.each do |song| %>
              <div class="songs">
                <li class="mb-2 lil-pop-text"><%= "#{song.name}, by #{song.artists.first.name}" %></li>
              </div>
            <% end %>
          </ol>
        </div>    
        <% if current_user %>
              <%= form_with url: open_with_spotify_playlist_path(@playlist) do |form| %>
                <%= form.check_box :email %>
                <%= form.label :email, 'Email me my playlist' %>
                <%= form.submit 'Open with Spotify', class: "btn btn-primary shadow-3d  lil-pop-text" %>
              <% end %>
        <% end %>
      <div class="form-container">
      <h2 class="text-xl font-bold mt-8 mb-2 lil-pop-text">Don't like what you see? Remix your playlist</h2>
    <% else %>
      <div class="form-container">
      <h2 class="text-2xl font-bold mb-4 lil-pop-text">We're sorry, OpenAi didn't like something about that last prompt. Please try again below.</h2>
    <% end %>
 
    <%= form_with url: playlists_path, method: :post do |form| %>
      <%= form.label :query, "Genre", class: "form-label" %>
      <%= form.text_field :query, required: true, maxlength: 40, class: "form-input" %>

      <label for="character_select" class="form-label">Character:</label>
      <select id="character_select" name="remix_character" class="form-input">
        <% @characters.each do |character| %>
          <option value="<%=character.character_id%>"><%= character.name %></option>
        <% end %>
      </select>
      <%= form.submit "Create Playlist", class: "form-button" %>
    <% end %>
  </div>
</div>
