<% if @playlist.songs.size == 10 %>
<h1><%= "Your #{@playlist.character} + #{@playlist.genre}, AI generated playlist" %></h1>
  <ol><% @playlist.songs.each do |song|%>
    <div class="song">
      <li><%= "#{song.name}, by #{song.artists.first.name}"%></li>
    </div>
  <% end %></ol>
  <% if current_user%>
    <%= link_to "Open with Spotify", open_with_spotify_playlist_path(@playlist), class: "btn btn-primary", data: { turbo: false }, target: "_blank"  %>
  <% end %>

<h2>Don't like what you see? Remix your playlist</h2>
<% else %>
<h2> We're sorry, OpenAi didn't like something about that last prompt. Please try again below.</h2>
<% end %>
<br>
<br>
<%= form_with url: playlists_path, method: :post do |form| %>
  <%= form.label :query, "Genre:" %>
  <%= form.text_field :query %>
  <select id="character_select" name="remix_character">
  <% @characters.each do |character| %>
      <% character_data = {
            character_id_id: character.character_id,
            character_name: character.name,
            alignment: character.alignment,
            theme_id: character.theme_id
          }.to_json
      %>
    <option value="<%=character_data %>"><%= character.name %></option>
  <% end %>
  </select>
 
  <%= form.submit "Create Playlist" %>
<% end %>