<h1>10 Recommended Songs</h1>

<ol><% @playlist.songs.each do |song|%>
  <div id="song">
    <li><%= song %></li>
  </div>
<% end %></ol>
<% if current_user %>
  <%= link_to "Open with Spotify", open_with_spotify_playlist_path(@playlist), class: "btn btn-primary", data: { turbo: false } %>
<% end %>

<h2>Don't like what you see? Remix your playlist</h2>
<%= form_with url: playlists_path, method: :post do |form| %>
  <%= form.label :query, "Genre:" %>
  <%= form.text_field :query %>
  <select id="character_select" name="remix_character">
  <% @characters.each do |character| %>
      <% character_data = {
            character_id_id: character.character_id,
            character_name: character.name,
            alignment: character.alignment,
            theme_id: character.theme_id
          }.to_json
      %>
    <option value="<%=character_data %>"><%= character.name %></option>
  <% end %>
  </select>
 
  <%= form.submit "Create Playlist" %>
<% end %>