<head>
  <link rel="stylesheet" href="app/assets/stylesheets/playlist_show.css">
</head>

<div class="container mx-auto">
  <% if @playlist.songs.size == 10 %>
    <h1 class="text-3xl text-center font-bold mb-4">
      Your <%= @playlist.character %> + <%= @playlist.genre %>, AI generated playlist
    </h1>
   
    <div class="playlist-container">
      <div class="border-box rounded-md px-4 py-2 mb-8">
        <ol class="list-decimal list-inside">
          <% @playlist.songs.each do |song| %>
            <li class="mb-2"><%= "#{song.name}, by #{song.artists.first.name}" %></li>
          <% end %>
        </ol>
      </div>    

  <div class="text-center">
      <% if current_user %>
        <%= link_to "Open with Spotify", open_with_spotify_playlist_path(@playlist), class: "btn btn-primary", data: { turbo: false }, target: "_blank" %>
      <% end %>
    <h2 class="text-xl font-bold mt-8 mb-2">Don't like what you see? Remix your playlist</h2>
  <% else %>
    <h2 class="text-2xl font-bold mb-4">We're sorry, OpenAi didn't like something about that last prompt. Please try again below.</h2>
  <% end %>
  </div>
<div class="playlist-container">
  <div class="border-box rounded-md grid grid-cols-2 gap-4 mt-8">
    <div>
      <%= form_with url: playlists_path, method: :post, class: "remix-form" do |form| %>
        <div class="mb-4">
          <%= form.label :query, "Genre:", class: "form-label" %>
          <%= form.text_field :query, value: @playlist.genre, class: "playlist-genre-form-input form-input rounded-md border-gray-300 shadow-sm w-1", id: "genre-field" %>
        </div>
        <div class="flex justify-end">
          <%= form.submit "Create Playlist", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div>
      <label for="character_select" class="form-label">Character:</label>
      <select id="character_select" name="remix_character" class="form-select rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        <% @characters.each do |character| %>
          <option value="<%=character.character_id%>"><%= character.name %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>