<!DOCTYPE html>
<html>
  <head>
    <title>Character Chords</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="toolbar">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Logout", logout_path %></li>
        <% end %>
      </ul>
    </nav>
    
    <% flash.each do |type, msg| %>
      <center>
        <div>
          <%= msg %>
        </div>
      </center>
    <% end %>
    
    <p><%= yield %></p>
  </body>

</html>
