<!DOCTYPE html>
<html>
  <head>
    <title>Character Chords</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col">
    <nav class="toolbar">
      <ul>
        <li><%= link_to "Home", home_clear_path%></li>
        <% if current_user %>
          <li><%= link_to "Logout", logout_path %></li>
          <% else %>
          <li><%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: 'bg-green-500 text-white px-4 py-2 rounded-md shadow-md' %></li>
        <% end %>
      </ul>
    </nav>

    <% flash.each do |type, msg| %>
      <center>
        <div>
          <%= msg %>
        </div>
      </center>
    <% end %>

    <div class="flex-grow">
      <p><%= yield %></p>
    </div>

    <div>
      <center>
        <p>This app is still in development</p>
      </center>
    </div>
  </body>
</html>

